{
  "plugins": ["@babel/plugin-transform-runtime", "transform-object-rest-spread"],
  "presets": [
    [
      "vue-app",
      {
        "useBuiltIns": true,
        "targets": {
          "ie": 9,
          "uglify": true
        }
      }
    ]
  ]
}