html,
body{
    /* @apply text-primary; */
}

.text-overflow{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

[data-aos-easing][data-aos-easing] [data-aos][data-aos]:not(.aos-animate){
    transition-duration: 0s;
}

.img-animation {
    transition: all 0.3s;
}

.img-animation:hover {
    transform: scale(1.1);
}

*[disabled] {
    display: none !important;
}

.list-dash{
    list-style-type: none;
}

.list-dash li:before{
    content: '|';
    @apply text-main;
    @apply mr-1;

    @screen xs {
        content: '-';
        @apply ml-2;
    }
}

.opinion-pagination {
    position: relative;
    width: 100%;
    text-align: center;
    padding-top: 30px;

    @screen lg {
        position: absolute;
        left: 0;
        bottom: 0;
    }
}

.swiper-pagination-bullet {
    border-radius: 0;
    width: 15px;
    height: 15px;
    margin: 0!important;
}

.swiper-pagination-bullet:not(:last-child) {
    margin-right: 15px!important;
}

.swiper-pagination-bullet-active {
    background: rgb(0, 224, 180);
}

.afterLogotypes {
    position: relative;
    padding: 5px 0;
    
    @screen xsWide {
        padding: 1rem 0;
    }
    
    @screen md {
        padding: 2.5rem 0;
    }
}

.afterLogotypes::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    background: rgb(249, 249, 249);
  
    @screen sm {
        left: 100%;
    }
}

/* Fix for iOS mobile */
@media (max-width: 1360px) {
    .bg-fixes{
        background-attachment: initial;
    }
}