html,
body{
    /* @apply text-primary; */
}

.text-overflow{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

[data-aos-easing][data-aos-easing] [data-aos][data-aos]:not(.aos-animate){
    transition-duration: 0s;
}

.img-animation {
    transition: all 0.3s;
}

.img-animation:hover {
    transform: scale(1.1);
}

*[disabled] {
    display: none !important;
}

.list-dash{
    list-style-type: none;
}

.list-dash li:before{
    content: '|';
    @apply text-main;
    @apply mr-1;

    @screen xs {
        content: '-';
        @apply ml-2;
    }
}
